@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 15 23 42;
  --primary: 13 108 126;
  --primary-hover: 10 90 106;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: Arial, Helvetica, sans-serif;
}
